body { font-family: DejaVuSansCondensed; font-size: 11pt;  }
.tg  {border-collapse:collapse;border-spacing:0;border: 1px solid black;width: 100%;}
div.a {
  text-align: center;
}

p
{
  margin-bottom: 1em;
}


.outerDiv {
  max-width:980px;
  height: 400px;
  margin: 0px auto;
  max-width:980px;
  padding-top:5px;
}
.leftDiv {

  height: auto;
  width: 49%;
  float: left;
}
.rightDiv {

  height: auto;
  width: 49%;
  float: right;
}
.bondheader {
  margin-bottom: 10px;
  margin-top: 20px;
}
.bondtitle {
  margin-bottom: 10px;
  margin-top: 10px;
}